{% extends "base.html" %}
{% block content %}

<form action="/cities/{{city.id}}" method="POST">

    <div>
        <label for="name">City: </label>
        <input type="text" id="name" name="name" value="{{city.name}}" required>
    </div>

    <!-- <div>
        <label for="country">Country: </label>
        <input type="text" id="country" name="country_id" value="{{city.country.name}}" required>
    </div> -->
    <div>
        <label for="country">Country: </label>
        <select name="country_id">
            {% for country in countries %}
            <option value="{{country.id}}" {% if country.id == city.country.id %} selected {% endif %}>{{country.name}}</option>
            {% endfor %}

        </select>
    </div>

    <div>
        <label for="visited">Visited? </label>
        <select id="visited" name="visited">
            <option value="False" {% if city.visited == False %} selected {% endif %}>No</option>
            <option value="True" {% if city.visited == True %} selected {% endif %}>Yes</option>
        </select>
    </div>

    <input type="submit" value="update">
</form>

</div>

{% endblock %}