{% extends "base.html" %}
{% block content %}

<form action="/cities" method="POST">

    <div>
        <label for="name">City: </label>
        <input type="text" id="name" name="name" placeholder="New city name" required autofocus>
    </div>

    <div>
        <label for="country">Country: </label>
        <input type="text" id="country" name="country" placeholder="country" required autofocus>
    </div>

    <div>
        <label for="visited">Visited? </label>
        <select name="visited" id="visited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>

    <button type="submit" value="add_new_location">Add new entry</button>

</form>



{% endblock %}