{% extends "base.html" %}
{% block content %}
<div class="visited">
    <h2>Places I've Visited</h2>
    <p>
        Can't find a location? <button class="button"><a href="/cities/new">Add new</a></button>
    </p>

    {% for city in cities %}
    {% if city.visited %}

        <div class="visited-list">
            <div class="content">
                <b>Country:</b> {{city.country.name}}
                <br><b>City:</b> {{city.name}}
                <br><b>Visited?</b>
                {% if city.visited == False %}
                <span>&#10005;</span>
                    {% else %}
                <span>&#10004;</span>
                {% endif %}
            </div>
            
        <div class="buttons">
            <br><br><button class="button"><a href="/cities/{{city.id}}/edit">Edit</a></button>
            <form class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
                <button class="trash-button">Delete</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
    
{% endblock %}