{% extends "base.html" %}
{% block content %}
    <div class="visited">
    <h2>Places I've Visited</h2>
    <p>
        Can't find a location? <button class="button"><a href="/cities/new">Add new</a></button>
    </p>

    {% for city in cities if city.visited == True %}

        <div class="visited list">
            Country: {{city.country.name}}
            <br>City: {{city.name}}
            <br>Visited?
            {% if city.visited == False %}
            <span>&#10005;</span>
                {% else %}
            <span>&#10004;</span>
            {% endif %}
        </div> 
        <div class="buttons">
            <button class="button"><a href="/cities/{{city.id}}/edit">Edit</a></button>
            <form class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
                <button class="trash-button">Delete</button>
            </form>
        </div>
    {% endfor %}

    </div>
    
{% endblock %}