{% extends "base.html" %}
{% block content %}


<form action="/sights/{{sight.id}}" method="POST">
    <div>
        <label for="country">Country: </label>
        <input type="text" id="country" name="country" value="{{sight.city.country.name}}" required>
    </div>

    <div>
        <label for="city">City: </label>
        <input type="text" id="city" name="city_id" value="{{sight.city.name}}" required>
    </div>

    <div>
        <label for="sight">Sight: </label>
        <input type="text" id="sight" name="sight" value="{{sight.name}}">
    </div>

    <div>
        <label for="visited">Visited? </label>
        <select id="visited" name="visited">
            <option value="False" {% if sight.visited == False %} selected {% endif %}>No</option>
            <option value="True" {% if sight.visited == True %} selected {% endif %}>Yes</option>
        </select>
    </div>

    <input type="submit" value="update">
</form>

</div>

{% endblock %}