{% extends "base.html" %}
{% block content %}
    <div class="sightseeing">
    <h2>Sightseeing</h2>
    <p>
        Can't find a sight? <button class="button"><a href="/sights/new">Add new</a></button>
    </p>

    {% for sight in sights %}

    <div class="sight list">
        <br>City: {{sight.city.name}}
        <br>Sight: {{sight.name}}
        <br>Visited? 
        {% if sight.visited == False %}
        <span>&#10005;</span>
        {% else %}
        <span>&#10004;</span>
        {% endif %}
    </div>

        <button class="button"><a href="/sights/{{sight.id}}/edit">Edit</a></button>

        <form class="delete-form" action="/sights/{{sight.id}}/delete" method="POST">
            <button class="button">Delete</button>
            </form>

{% endfor %}

    </div>
    
{% endblock %}