{% extends "base.html" %}
{% block content %}

    <h2>Sights I've Visited</h2>

{% for sight in sights if sight.visited == True %}

<div class="sights visited list">
    Country: {{sight.city.country.name}}
    <br>City: {{sight.city.name}}
    <br>Sights: {{sight.name}}
    <br>Visited?
    {% if sight.visited == False %}
    <span>&#10005;</span>
        {% else %}
    <span>&#10004;</span>
    {% endif %}
</div> 
<div class="buttons">
    <button class="button"><a href="/sights/{{sight.id}}/edit">Edit</a></button>
    <form class="delete-form" action="/sights/{{sight.id}}/delete" method="POST">
        <button class="trash-button">Delete</button>
    </form>
</div>
{% endfor %}

{% endblock %}