body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: #e9faf8;
    padding-bottom: 60px;
  }
  
  body > header {
    background-color: #26A69A;
    color: white;
    font-family: 'Lobster', cursive;;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }


  body > main > h2 {
      text-align: center;  
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }


   .flex-container {
       display: flex;
       text-align: center;
       justify-content: space-between;
       padding: 50px;
       font-size: 20px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

   .flex-container img{
       width: 400px;
       height: 250px;
       border: 5px solid #26A69A;;
   }

   .visited-list {
       border: 1px solid black;
       width: 300px;
       min-height: 68px;
       padding: 10px;
       line-height: 18px;
       margin-bottom: 10px;
   }

   .bucket-list {
       border: 1px solid black;
       width: 300px;
       min-height: 68px;
       padding: 10px;
       line-height: 18px;
       margin-bottom: 10px;
   }

   .sights-list {
       border: 1px solid black;
       width: 300px;
       min-height: 68px;
       padding: 10px;
       line-height: 18px;
       margin-bottom: 10px;
   }

  nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
  }
  
  nav > ul > li > a {
    color: white;
    text-decoration: none;
  }

  body > footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: #26A69A;
  }

