/* #visited {
    display: inline-block;
    background-image: url('/static/images/tourist.jpg');
}

#bucket {
    display: inline-block;
    background-image: url('/static/images/luggage_map.jpg');
} */