<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible", content="ie=edge">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Lobster&display=swap'>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Travel Bucket List</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/static/images/logo_small.jpg" alt="logo">
        </a>
        <h1>Travel Bucket List</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/visited">Places Visited</a>
                </li>
                <li>
                    <a href="/bucketlist">Bucket List</a>
                </li>
                <li>
                    <a href="/sights">Sights</a></li>
            </ul>
        </nav>
    </header>
    <main> 
        {% block content %}
        {% endblock %}
    </main>
    

    {% block home %}
    {% endblock %}
    <footer>
        <p>&copy; JP 2021</p>
    </footer>
</body>
</html>