{% extends 'base.html' %}

{% block content %}
    <h2>Record your travels and create a travel bucket list</h2>
    <div class="row">
        <div class="column"></div>
        <h3>Places I've Visited</h3>
            <a href="/visited">
                <img src="/static/images/tourist_resized.jpg">
            </a>
        </div>

        <div class="column">
        <h3>Travel Bucket List</h3>
            <a href="/bucketlist">
                <img src="/static/images/luggage_map_resized.jpg">
            </a>
        </div>

        <div class="column">
            <h3>Sightseeing</h3>
                <a href="/sights/lists">
                    <img src="/static/images/sights.jpg">
                </a>
            </div>


{% endblock %}